[submodule "hpctoolkit"]
	path = hpctoolkit
	url = https://github.com/anthonyramirez244/hpctoolkit.git
	branch = gpa-compat
[submodule "GPA-Benchmark"]
	path = GPA-Benchmark
	url = https://github.com/anthonyramirez244/GPA-Benchmark.git
	branch = gpa-compat
